{% extends 'base.html.twig' %}

{% block body %}
    {% set getActualRouteName = app.request.get('_route') %}

    <nav class="nav nav-pills nav-justified">
        {% include 'partials/_menu-item.html.twig' with {'routeKey': 'calculator_index', 'getActualRouteName': getActualRouteName, 'nameKey': 'menu.calculator'} %}
        {% include 'partials/_menu-item.html.twig' with {'routeKey': 'pipe_list', 'getActualRouteName': getActualRouteName, 'nameKey': 'menu.pipes'} %}
    </nav>
{% endblock %}